<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dio.businesscard">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusinessCard">

        <!-- TODO - resolver a perca de dados ao rotacionar a tela -->
        <activity
            android:name=".ui.ColorPickerActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.Dialog.Alert"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.AddBusinessCardActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>